.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.row-contents-center {
    align-items: center;
}

.row-contents-center div {
    margin-top: auto;
    margin-bottom: auto;
}
