#wrap {
	background-color: #FFFFFF;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.hideme {
	display: none;
}

.disable-selection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.disable-selection a:hover {
	outline: 0;
}

.navbar-default {
	  -webkit-box-shadow: none;
	  box-shadow: none;
	  background-image: none;
}

.btn-danger, .btn-default, .btn-info, .btn-primary, .btn-success, .btn-warning {
	text-shadow: none;
}

.modal-footer {
	border-top: 0;
}

.fit-image-xs{
	object-fit: cover;
	height: 150px;
}

@media (max-width: 480px) { 
        body {
          font-size: 11px;
        }
        h4 {
        	font-size: 12px;
        }
}
@media (max-width: 767px) {
	.text-xs-left {
		text-align: left;
	}
	.heading-md-smaller-xs-screen{
    font-size: 2.2em;
	}
}
/*
@media (min-width: 767px) and (max-width: 991px) {
	.text-sm-left {
		text-align: left;
	}
	.text-sm-right {
		text-align: right;
	}
	.text-sm-center {
		text-align: center;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.text-md-left {
		text-align: left;
	}
	.text-md-right {
		text-align: right;
	}
	.text-md-center {
		text-align: center;
	}
}

@media (min-width: 1200px) {
	.text-lg-left {
		text-align: left;
	}
	.text-lg-right {
		text-align: right;
	}
	.text-lg-center {
		text-align: center;
	}
}
*/
@media (min-width: 374px) and (max-width: 767px) {
	span.wrap-xs-col {
		display: block !important;
		line-height: 175%;
		/*vertical-align: top;*/
	}
	span.wrap-xs-col-indent {
		display: block !important;
		content: "";
		margin-top: 0.5em;
		line-height: 190%;
		/*vertical-align: top;*/
	}
	.padding-xs-col {
		padding-left: 0.5em;
	}
}

@media (max-width: 374px) {
	.padding-xxs-col {
		padding-left: 0.75em;
	}
	.heading-md-smaller-xxs-screen{
    font-size: 2em;
	}
}

@media (max-width: 354px) {
	.padding-xxxs-col {
		padding-left: 1.2em;
	}
}