
.page_holder {
}

.page {
}

.page_loading {
	background: url('/images/loading.gif') center center no-repeat;
	min-height: 200px;
}

#preloader {
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	background: white url('/images/loading.gif') center center no-repeat;	
	z-index: 999;
}

.page_holder {
    transition: 0.4s ease;
    transform: translate3d(10%, 0, 0);
}
.page_holder.incoming-page {
  transform: translate3d(0, 0, 0);
}