﻿.div-fixed-width {
  max-width: 500px;
  margin-left:auto;
  margin-right:auto;
}
.text-left {
    text-align: left;
}
.custom-radios div {
  display: inline-block;
  /*max-width: 500px;
  text-align: left;*/
}
.custom-radios input[type="radio"] {
  display: none;
}
.custom-radios input[type="radio"] + label {
  color: #333;
  font-size: 1.5em;
}
.custom-radios input[type="radio"] + label span {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 44px;
}
.custom-radios input[type="radio"] + label span img {
  opacity: 0;
  transition: all .3s ease;
}


.custom-radios input[type="radio"].color-5 + label span {
  background-color: gray;
}
.custom-radios input[type="radio"]:checked.color-5 + label span {
  background-color: black;
}



.custom-radios input[type="radio"]:checked + label span {
  opacity: 1;
  background: url('/images/icons/check-icn.svg') center center no-repeat;
  width: 25px;
  height: 25px;
  display: inline-block;
}


.custom-radios input[type="radio"] + label {
    position: relative;
    padding-left: 33px
}

.custom-radios input[type="radio"] + label span {
    position: absolute;
    left: 0px;
    top: 3px;
}
