.field-group-divider {
	width: 100%;
    height: 12px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    margin-bottom: 20px;	
}

.field-group-divider-title {
    font-size: 15px;
    background-color: #ffffff;
    padding: 0 10px;
    font-weight: 600;
    color: #ccc;
}

.field-group-divider.color-default {
    border-bottom: 1px solid #ccc;
}

.field-group-divider.color-accented {
    border-bottom: 1px solid cornflowerblue;
}

.field-group-divider-title.color-default {
    color: #ccc;
}

.field-group-divider-title.color-accented {
    color: cornflowerblue;
}

.in-menu_divider {
    width: 190px;
    margin-left: 20px;
    margin-top: 50px;
}

.in-menu_divider .field-group-divider-title{
    background-color:black;
}