
@media only screen and (max-width: 1400px) and (min-width: 768px)  { 
    .container-scaled {
        transform: translateX(15%) scale(0.7);
        transform-origin: 0 0;
    }
}
@media only screen and (min-width: 1400px)  {
    .container-scaled {
        transform: translateX(5%) scale(0.9);
        transform-origin: 0 0;
    }
}
   
body {
    font-family: 'Raleway', sans-serif;
    color: black;
}

.no-list-style {
    list-style: none;
    padding-left:0;
}

.centered-wrapper{
    padding: 70px 15px;
    text-align: center;
    /* text-align: -webkit-center; */
}

.heading-lg {
    font-size:4em;
}
.heading-lg-smaller {
    font-size:3.3em;
}
.heading-md{
    font-size: 3em;
}
.heading-sm{
    font-size: 1.6em;
    font-weight: 400;
}
.heading-xs{
    font-size: 1.3em;
}

.heading-bold {
    font-weight:bold;
}
.heading-second-line {
    display:block;
}


.btn-xxl {
    font-size: 2.1em;
    padding: 40px 50px;
    font-weight: 500;
    text-transform:uppercase;
}
.btn-xl {
    font-size: 1.5em;
    padding: 20px;
    font-weight: 500;
    text-transform:uppercase;
}

.btn-form {
    width: 100%;
    max-width: 255px;
}

.btn-orange {
    color: #FFFFFF !important;
    background-color: #ee6300;
    box-shadow: 0 0 15px #ee6300 !important;
}
.text-orange, a:focus.text-orange, a:hover.text-orange {
    color: #ee6300;
}

.btn-grey {
    color: #FFFFFF !important;
    background-color: #808080;
}

.icon-bold {
    font-weight: bold;
}

.spacer-md {
    height: 100px;
}

.spacer-lg {
    height:150px;
}

.header-humanoid {
    width: 80px;
    height: 80px;
    position: fixed;
    left: 50%;
    margin-left: -40px;
    bottom: -40px;
    top: 25px;
    z-index: 1040;
}

.avatar.med {
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
}

.avatar {
    background: center center no-repeat;
    background-image: url(/images/avatars/newguy_sm.png);
    display: inline-block;
    border-radius: 50%;
    flex-shrink: 0;
    flex-grow: 0;
    -webkit-transition: width 0.15s, height 0.15s, background-size 0.15s;
    -moz-transition: width 0.15s, height 0.15s, background-size 0.15s;
    -o-transition: width 0.15s, height 0.15s, background-size 0.15s;
    transition: width 0.15s, height 0.15s, background-size 0.15s;
}

.fixed-height {
    min-height: 20px;
}

.font-weight-bold {
    font-weight:bold;
}


.mb-20 {
    margin-bottom:20px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-30 {
    margin-top: 30px;
}
.mb-50 {
    margin-bottom:50px;
}
.ml-35 {
    margin-left: 35px;
}
.ml-60 {
    margin-left:60px;
}



.btn-insurance {
    height: 210px;
    width: 182px;
    margin:20px;
    padding:0;
    background-color: transparent;
    position: relative;
}
.btn-insurance .fa{
    position: absolute;
    right: 15px;
    top: 18px;
    display: none;
    color:#ee6300;
}
.btn-insurance.selected .fa{
    display: block !important;
}
.btn-img {
    height: 182px;
    width: 182px;
}
.btn-text {
    color:#ee6300;
    font-size:1.3em;
}



.btn-inline {
    margin-left: 20px;
}
.btn-inline-remove {
    color:red;
}
.btn-inline-edit {
    color:green;
}

.xsmall-notice {
    max-width: 250px;
    margin-left:auto;
    margin-right:auto;
}
.small-notice {
    max-width: 500px;
    margin-left:auto;
    margin-right:auto;
}
.medium-notice {
    max-width: 660px;
    margin-left:auto;
    margin-right:auto;
}
.heading-fixed-max-width {
    max-width: 992px;
    margin-left:auto;
    margin-right:auto;
}

.double-icon {
    padding-right: 8px;
    padding-left: 8px;
}
.addon-text {
    padding-left: 5px;
    font-size: 1.2em;
    padding-right: 0;
}

.input-group-addon {
    background-color:transparent;
}



.text-left {
    text-align:left;
}
.text-bigger {
    font-size: 16px; 
}

.text-bold {
    font-weight: bold;
}

.list-group-item-dark {
    border: 1px solid darkgrey;
}
a.list-group-item-dark {
    color: black;
}

div.tooltip {
    font-size:1em;
}

.btn.next-step, .add-claim {
    margin-top: 10px;
}

.btn.start-process {
    margin-left:auto;
    margin-right:auto;
}

.help-block.with-errors {
    margin-bottom:10px;
}

.errors-container {
    margin-top:20px !important;
}

.pt-50 {
    padding-top:50px;
}

#service_rating i {
    font-size: 32px;
    color:darkorange;
}
#service_rating {
    padding-top:15px;
    padding-bottom:15px;
}

#rating_description {
    padding-bottom: 15px;
}

li.active .pill-orange {
    background-color: #ee6300 !important;
}
