<div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="dialog_label">{t}Registration{/t}</h4>
      </div>
      <div class="modal-body modal-body-default registration_dialog" style="padding-bottom: 0;">
<!-- 
      <h3>{t}Sign In With{/t}</h3>

      <div class="social_signin">
        <a href="#" class="btn btn-social btn-facebook"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="#" class="btn btn-social btn-google"><span class="fa fa-google"></span> Google</a>
        <a href="#" class="btn btn-social btn-twitter"><span class="fa fa-twitter"></span> Twitter</a>
      </div>
 -->
<!--       <div class="social_signin_divider">
        <div class="social_signin_divider_h"></div>
        <div class="social_signin_divider_or">or</div>
        <div class="social_signin_divider_h"></div>
        <div class="social_signin_divider_cl"></div>
      </div> -->
<!-- 
      <h3>{t}Or Create New Account{/t}</h3> -->

      <form method="post" action="{$settings->site_path}/user/signin" role="form" id="registration_modal_form">
      <fieldset>
        <div class="form-group">
          <label class="sr-only" for="input_login">{t}Username{/t}</label>
          <input type="text" name="login" class="form-control" id="input_login" placeholder="{t}Username{/t}">
        </div>
        
        <div class="form-group">
          <label class="sr-only" for="input_email">{t}Email{/t}</label>
          <input type="email" name="email" class="form-control" id="input_email" placeholder="{t}Email{/t}">
        </div>

        <div class="form-group">
          <label class="sr-only" for="input_password">{t}Password{/t}</label>
          <input type="password" name="password" class="form-control" id="input_password" placeholder="{t}Password{/t}">
        </div>

        <div class="alert alert-danger errors-container" id="registration_invalid_password_alert" style="display: none;">
          {t}Invalid username or password{/t}
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-orange pull-left" value="{t}Sign Up{/t}" data-loading-text="{t}Registration...{/t}" id="registration_modal_form_submit">
        </div>

      </fieldset>
      </form>

      </div>
      <div class="modal-body modal-body-success" style="display: none;">
        <div class="alert alert-info" role="alert">{t}Thank you! Please check your email inbox for confirmation link{/t}.</div>
      </div>
      <div class="modal-footer">
        <div class="pull-right">
        {t}Already a member?{/t} <a href="{$settings->site_path}/user/signin" class="btn btn-default btn-sm">{t}Sign In{/t}</a>
        </div>
      </div>
    </form>
  </div>
</div>

